body {
  display: flex;
  flex-direction: column;
}


ul {
  padding: 0;
  margin-left: 15px;
}

li {
  list-style: none;
 
}


.fighter-placeholder {
  min-height: 36vh;
}

.fighter-components {
  display: flex;
  justify-content: start;
  
  
}

.fighter-components-buttons {
  width: 100%;
}